.wrapper {
  display: flex;
}

.container {
  flex: 1;
}

.header {
  text-align: center;
  align-items: center;
}

.logo {
  width: 150px;
  margin-top: 5%;
  text-align: center;
  align-items: center;
}

.subtitle {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.formItem {
  width: 300px;
}

.buttonsRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.buttonRegister {
  margin-left: 5px;
  margin-right: 5px;
}

.imagem {
  border-left: 2px solid #f2b66d;
}

@media screen and (max-width: 1046px) {
  .container {
    height: auto;
  }

  .button {
    margin-bottom: 25px;
  }

  .imagem {
    display: none;
  }
}
