.actionButton {
  width: 100%;
  border-radius: 6px;
  height: 48px;
  border-color: none;
  color: #fff;
  background-color: #f2b66d;
  font-weight: bold;
}

.actionButton:hover {
  background-color: #fdd6a7 !important;
  color: "#fff" !important;
}
