* {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #333333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 15px;
}

.caixaSubTit {
  width: 90%;
}

.subtitulo {
  margin-left: 7%;
  font-size: 2.8vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  min-width: 40px;
  width: 7%;
  margin: 20px;
  text-align: start;
}

.conjuntoTrilhas {
  width: 100%;
  justify-items: center;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.button {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
