@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.detalhes {
  margin: 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.down {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

h2,
h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

.descricao {
  font-family: "Poppins", sans-serif;
  font-size: 1.25em;
  font-weight: 300;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desafios {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #ffa64d;
}

@media screen and (max-width: 516px) {
  .detalhes {
    margin: 20px 40px;
    text-align: left;
  }
  h3 {
    font-size: 18px;
  }
  .descricao {
    font-size: 15px;
    text-align: left;
  }

  .down {
    justify-content: space-between;
  }
}
