
.rowOne {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
}

.col {
  margin-bottom: 20px;
}

.cards {
  display: grid;
 
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
 
}

.cards:hover {
  transform: scale(1.05);
  background-color: #F2B66D;
}

.cards img {
  width: 100px; 
  border-radius: 100px;
  height: auto; 
  margin-bottom: 10px;
}

.cards h3 {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}
