.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1 {
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  height: 400px;
}

.card2{
  width: 500px !important;
  border-radius: 10px;
  margin: 10px;
}

.imgTrilha {
  max-width: 100%;
  height: auto;
}

.badgeContainer {
  text-align: center;
}

.badgeImage {
  width: 60%;
  height: auto;
  max-width: 120px;
  margin-bottom: 10px;
}

.badgeDescription {
  font-size: 14px;
}


@media screen and (max-width: 984px) {
  .card1 {
    margin-left: 40px !important;
  }

  .card2 {
    width: 300px !important;
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    margin-left: 40px !important;
  }

 
}

