.row {
  padding: 20px;
}

.rowOne {
  padding: 20px;
  align-items: center;
  text-align: center;
}

.carrosel {
  padding: 20px;
  border-radius: 6px !important;
}

.imgHumor {
  padding: 20px;
  width: 50%;
}

@media screen and (max-width: 574px) {
  .imgHumor {
    width: 100%;
  }

  .Cards {
    width: 240px;
    margin-top: 20PX;
  }
}
