.row {
    padding: 20px;
}

.rowOne {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.carrosel {
    padding: 20px;
    border-radius: 6px !important;
}

.imgHumor{
    padding: 20px;
    width: 50%;
}