.card {
    padding: 16px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  
  .imgTrilha {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .button {
    margin-top: 16px;
  }
  