.ofensiva {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.uploadImg {
  margin-top: 10px;
}

.divCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1144px) {
  .ofensiva {
    flex-direction: column;
  }
}
