.menu {
  background-color: black;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.sideBar {
  background-color: black !important;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.logo {
  width: 60%;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.icon {
  width: 30px;
  font-weight: bold;
}

.menuItem:hover,
.menuItem::before {
  background-color: #404040 !important;
}
